/* Make the customizations */

// $primary: #4bdb53;
// $primary: #1ed760;
$primary-color: #1ed760;
$secondary: #ffffff;

$body-bg: #eaeaea;
$body-color: #000000;

$button-color: #38b85d;

$theme-colors: (
  'info': tomato,
  'danger': teal,
  'primary': $primary-color,
  'bg-primary': $primary-color,
  'bg-secondary': $secondary,
);

// Include variables and mixins
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";
// @use '~bootstrap/scss/bootstrap' // @use if we don't give the path
// @import "bootstrap/scss/bootstrap";


