/* make the customizations */

//$primary: #4bdb53;
$primary: #1ed760;
$secondary: #ffffff;

$body-bg: #eaeaea;
$body-color: #000000;

$button-color: #38b85d;

$theme-colors: (
  'info': tomato,
  'danger': teal,
  'primary': $primary,
  'bg-primary': $primary,
  'bg-secondary': $secondary,
);

/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';

